<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707639017879-dnnru00tvckl50ui7q6sccdkt99ddeni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707639017879-dnnru00tvckl50ui7q6sccdkt99ddeni</string>
	<key>API_KEY</key>
	<string>AIzaSyAb8pB5xRIZBil1Cf0gd1FuVgaYSBdnu3M</string>
	<key>GCM_SENDER_ID</key>
	<string>707639017879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.leafbehind</string>
	<key>PROJECT_ID</key>
	<string>leafbehindfr</string>
	<key>STORAGE_BUCKET</key>
	<string>leafbehindfr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707639017879:ios:b9dc0f3d287ed3b76484d2</string>
</dict>
</plist>